<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <a class="navbar-brand" href="/">StoryTeller</a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('Story') }}">les Histoires</a>
                </li>
            </ul>
        </div>
        <div class="jumbotron">
            <div class="container">
                {% block jumbotron %}
                    <h1>
                        {% block titre %}Story Teller !{% endblock %}
                    </h1>
                    <p>{% block description %}{% endblock %}</p>
                {% endblock %}
            </div>
        </div>
        <main class="container">{% block body %}{% endblock %}</main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
